.centered {
    text-align: center;
}

.content-body {
    padding-left: 10%;
    padding-right: 10%;
}

.column {
    float: left;
}
  
.left {
    width: 70%;
}

.right {
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.portrait {
    width: 100%;
}

body {
    color: #404040;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

a {
    color: #aa0505;
    text-decoration: none;
    transition: .07s ease-in;
}

.footer {
    padding-bottom: 100px;
}

li {
    padding-top: 10px;
}
